// Color system

$white:         #fff;
$gray-100:      #f2f2f2;
$gray-200:      #e9ecef;
$gray-300:      #dee2e6;
$gray-400:      #ced4da;
$gray-500:      #adb5bd;
$gray-600:      #6c757d;
$gray-700:      #495057;
$gray-800:      #222;
$gray-900:      #212529;
$black:         #000;

$blue:          #007eaa;
$indigo:        #6610f2;
$purple:        #6f42c1;
$pink:          #e83e8c;
$red:           #a94441;
$red-bright:    #f94c3b;
$orange:        #ff7200;
$yellow:        #f0ad4e;
$green:         #439700;
$teal:          #20c997;
$cyan:          #17a2b8;

$body-bg: $gray-100;

// Typography

$font-size-base: .875rem;

// Blocks

$block-width: 960px;

// Components

$border-radius:     .25rem;
$border-radius-lg:  .25rem;
$border-radius-sm:  .25rem;

// Cards

$card-bg: none;
$card-cap-bg: none;
$card-body-bg: $white;
$card-border-width: 0;

// Gallery

$gallery-gutter: 1rem;
$gallery-columns: 24;

$gallery-xs: ();
$gallery-xs: map-merge( ( "xs": 8, "sm": 4, "md": 3, "lg": 2 ), $gallery-xs );
$gallery-xs-min-height: 85px;

$gallery-sm: ();
$gallery-sm: map-merge( ( "xs": 12, "sm": 8, "md": 6, "lg": 4 ), $gallery-sm );
$gallery-sm-min-height: 100px;

$gallery-md: ();
$gallery-md: map-merge( ( "xs": 12, "sm": 12, "md": 8, "lg": 6 ), $gallery-md );
$gallery-md-min-height: 100px;

$gallery-lg: ();
$gallery-lg: map-merge( ( "xs": 24, "sm": 24, "md": 12, "lg": 12 ), $gallery-lg );
$gallery-lg-min-height: 200px;

// Thumbnails

$thumbnail-bg: $white;
$thumbnail-active-bg: $gray-200;
$thumbnail-margin-bottom: 1rem;
$thumbnail-border-color: $white;
$thumbnail-border-width: 2px;
$thumbnail-selected-bg: $blue;
$thumbnail-selected-color: $white;

// Tables

$table-active-bg: $gray-200;
$table-selected-bg: $blue;
$table-selected-color: $white;

// Inverted tabs

$nav-tabs-inverted-border-color: $gray-300;
$nav-tabs-inverted-border-width: 1px;
$nav-tabs-inverted-border-radius: $border-radius;
$nav-tabs-inverted-link-hover-border-color: $nav-tabs-inverted-border-color $gray-200 $gray-200;
$nav-tabs-inverted-link-active-color: $gray-700;
$nav-tabs-inverted-link-active-bg: $white;
$nav-tabs-inverted-link-active-border-color: $nav-tabs-inverted-link-active-bg $gray-300 $gray-300;

// Progress bars

$progress-bg: $gray-400;



$defaultFontFamily: 'Montserrat', sans-serif;
$defaultFontSize: 15px;
$defaultFontWeight: 400;

$min_b: 280px;
$max_b: 1440px;
$container: minmax($min_b, $max_b);

$blue: #1464ac;
$blue_light: #4893d6;
$blue_lighter: #6ea4d6;
$blue_dark: #2b5981;
$blue_darker: #063e70;

$yellow: #ff9a0c;
$yellow_light: #ffb449;
$yellow_lighter: #ffc87a;
$yellow_dark: #bf8737;
$yellow_darker: #a66304;

$green: #09b372;
$green_light: #3ed99e;
$green_lighter: #67d9ae;
$green_dark: #268662;
$green_darker: #037449;

$error: #e20338;

$gray-1: #f8f9fa;
$gray-2: #e9ecef;
$gray-3: #dee2e6;
$gray-4: #ced4da;
$gray-5: #adb5bd;
$gray-6: #6c757d;
$gray-7: #495057;
$gray-8: #343a40;
$gray-9: #212529;

$white: #ffffff;
$black: #000000;

$shadow-2: 0 1px 1px rgba(black, 0.15), 0 2px 2px rgba(black, 0.15);
$shadow-4: 0 1px 1px rgba(black, 0.15), 0 2px 2px rgba(black, 0.15),
0 4px 4px rgba(black, 0.15), 0 8px 8px rgba(black, 0.15);
$shadow-6: 0 1px 1px rgba(black, 0.15), 0 2px 2px rgba(black, 0.15),
0 4px 4px rgba(black, 0.15), 0 8px 8px rgba(black, 0.15),
0 16px 16px rgba(black, 0.15), 0 32px 32px rgba(black, 0.15);


$shadow-2: 0 1px 1px rgba(black, 0.15), 0 2px 2px rgba(black, 0.15);
$shadow-4: 0 1px 1px rgba(black, 0.15), 0 2px 2px rgba(black, 0.15),
0 4px 4px rgba(black, 0.15), 0 8px 8px rgba(black, 0.15);
$shadow-6: 0 1px 1px rgba(black, 0.15), 0 2px 2px rgba(black, 0.15),
0 4px 4px rgba(black, 0.15), 0 8px 8px rgba(black, 0.15),
0 16px 16px rgba(black, 0.15), 0 32px 32px rgba(black, 0.15);


$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
) !default;
